<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://www.djslife.net/news/maxx-deejay-deep-inspiration-vol-24-25-20-03-2016/"/> <!-- What site do you want to crawl? -->
    <add key="authority" value="http://www.djslife.net/"/> <!-- The authority is the server dns hostname or ip address. -->
    <add key="logTextFileName" value="C:\Users\Alex\Desktop\Report.htm"/> <!-- Point this to some location that exists on your machine -->
  </appSettings>
</configuration>